body{
    font-family: 'roboto', helvetica,verdana;
    background-image: url('');
}

h1,h2,h3,h4,h5,h6 {
    color: #0CD2A4;
}

#seccion_inicio{
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/50/4c/e9/504ce9ee50fe08f33f4cc61535841bcb.jpg');
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#seccion_inicio img{
        border-radius: 15%;
}


#seccion_inicio h2,h6{
    color: black;
}

#seccion_hobbies p{
    color: #000;
}

#seccion_inicio h1{
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 20px;
    text-transform: capitalize;
}

#seccion_inicio h2{
    font-weight: bold;
}

#seccion_sobremi{
    margin-top: 50px;
    margin-bottom: 50px;
}

#seccion_sobremi h3{
}

#seccion_hobbies .glyphicon{
    font-size: 70px;
}

#seccion_inicio *{
    color: white;
}

#seccion_hobbies {
    background-color: aqua;
    color:white;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: lime;

}

#seccion_hobbies h3{
    text-decoration: underline;
    color: blue;
}

#seccion_skills{
    background: url('https://s-media-cache-ak0.pinimg.com/originals/08/fa/02/08fa0275674fee050c47e3b1abd86b6b.jpg');
}

#seccion_skills .col-xs-12 > div{
    background-color: blue;
    color: white;
    opacity: ;
    padding: 10px;
    border-radius:
}


#seccion_skills h3{
    margin-top: 0px;
}

#seccion_habilidades{
    background: url('https://s-media-cache-ak0.pinimg.com/originals/08/fa/02/08fa0275674fee050c47e3b1abd86b6b.jpg');
    color: aqua;
    padding-bottom: 50px;
    padding-top: 50px;
}

#seccion_habilidades{
    margin-top: 100px;
}

#seccion_social{
    background: #0CD2A4;
}

#seccion_social ul{
    list-style-type: none;
    margin: 0;
}

#seccion_social ul li{
    display: inline;

}

#seccion_social ul li a{
    color: white;
}

#seccion_social ul li a:hover{
    text-decoration: none;
    color: lime;
}

#seccion_social ul li a:hover i{
    background: blue;
}

#seccion_social .fa{
    border: 2px blue solid;
    border-radius: 70%;
    font-size: 40px;
    padding: 10px 15px;
    margin: 20px;
}

#seccion_contacto{
        background: url('http://www.modelocurriculum.net/wp-content/fondo-tarjeta-de-presentacion-negro.jpg');
    color: yellow;
    
}

#seccion_contacto .glyphicon{
    font-size: 30px;
    color: purple;
}

#seccion_social h3{
    color: black;
}

#seccion_contacto p{
    font-size: 20px;
    color: lime;
}

#seccion_contacto input,
#seccion_contacto textarea{
    background: rgba(37, 36, 41, 1);
    border-bottom: 3px solid  #0CD2A4;
    border-radius: 0px;
    color: blue;
}

#seccion_contacto button{
        border-radius: 12px;
        background: aqua;
}



#copyright{
    color: #000;
    background-color: aqua;
}
