#seccion_inicio{
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/08/fa/02/08fa0275674fee050c47e3b1abd86b6b.jpg');
    padding-top: 100px;
    padding-bottom: 100px;
}
#cv_foto{
    border-radius: 50%;
}
#seccion_inicio h1{
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 20px;
}

#seccion_inicio h2{
    font-weight: bold;
}

#seccion_sobremi{
    margin-top: 50px;
    margin-bottom: 50px;
}

#seccion_sobremi h3{
    color: red;
}

#seccion_hobbies .glyphicon{
    font-size: 70px;
}

#seccion_inicio *{
    color: white;
}

#seccion_hobbies {
    background-color: aqua;
    color:white;
    padding-bottom: 50px;
    padding-top: 50px;

}

#seccion_hobbies h3{
    text-decoration: underline;
    color: green;
}

#seccion_skills{
    background: url('https://s-media-cache-ak0.pinimg.com/originals/08/fa/02/08fa0275674fee050c47e3b1abd86b6b.jpg');
}

#seccion_habilidades{
    background: url('https://s-media-cache-ak0.pinimg.com/originals/08/fa/02/08fa0275674fee050c47e3b1abd86b6b.jpg');
    color: aqua;
    padding-bottom: 50px;
    padding-top: 50px;
}

#seccion_habilidades{
    background: url('https://s-media-cache-ak0.pinimg.com/originals/08/fa/02/08fa0275674fee050c47e3b1abd86b6b.jpg');
    color: aqua;
    padding-bottom: 50px;
    padding-top: 50px;
}

#seccion_social{
    background: #0CD2A4;
}

#seccion_social ul{
    list-style-type: none;
    margin: 0;
}

#seccion_social ul li{
    display: inline;

}

#seccion_social ul li a{
    color: white;
}

#seccion_social ul li a:hover{
    text-decoration: none;
    color: white;
}

#seccion_social ul li a:hover i{
    background: #2D373D;
}

#seccion_social .fa{
    border: 2px white solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin: 20px;
}

#seccion_contacto{
        background: url('https://s-media-cache-ak0.pinimg.com/originals/08/fa/02/08fa0275674fee050c47e3b1abd86b6b.jpg');
    color: yellow;
}

#seccion_contacto .glyphicon{
    font-size: 30px;
}

#seccion_contacto p{
    font-size: 20px;
    color: black;
}

#seccion_contacto input,
#seccion_contacto textarea{
    border-bottom: 5px aqua solid;
}

#seccion_contacto button{
        border-radius: 12px;
        background: aqua;
}
